.td-border2 {
    border: 2px solid;
    border-bottom: 2px solid;
}

.border-buttom {
    border-bottom: 2px solid;
}

.phetsarathot {
    font-family: 'Phetsarath OT';
}

.timenewroman {
    font-family: 'Times New Roman';
}

.font20 {
    font-size: 20px;
}
.font12 {
    font-size: 12px;
}

.colorblack {
    color: black;
}

.text-black {
    color: black;
}

.ver-baseline {
    vertical-align: baseline;
}

.bold {
    font-weight: bold;
}

.circle {
    width: 100px;
    height: 50px;
    padding-top: 10px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    background: #000
  }